/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .prizing h3{
    font-size: 20px;
    line-height: 10px;
  }
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 20px;
  }
  .text-wrap h2{
    font-size: 18px;
  }
  .text-wrap h1{
    font-size: 25px;
    line-height: 10px
  }  
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 490px) {
  .prizing h3{
    font-size: 26px;
    line-height: 15px;
  }
  .prizing h2{
    font-size: 70px;    
  }  
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 30px;
  }
  .text-wrap h2{
    font-size: 25px;
  }
  .text-wrap h1{
    font-size: 30px;
    line-height: 10px
  }    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .prizing h3{
    font-size: 40px;
    line-height: 20px;
  }
  .prizing h2{
    font-size: 90px;    
  }
  #ss-form{
    padding: 0 10px;
  }
  #rules-link h2{
    font-size: 40px;
  }
  .text-wrap h2{
    font-size: 30px;
  }
  .text-wrap h1{
    font-size: 40px;
    line-height: 15px
  } 
}
