<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center prizing">
        <h2>GRAND PRIZE</h2>
        <h3>One lucky winner will get to meet</h3>
        <h3>Shawn Mendes and see him perform live!</h3>
        <br><br>
        <h3>UNLIMITED ENTRIES THROUGH AUGUST 10, 2015</h3>
        <br>
    </div>
  </div>
</div>
