---
title: SHAWN MENDES SIZZLIN SUMMER SWEEPS
---
<!-- Override RD apps BG color -->
<div id="background"></div>
<!-- Start Partials -->
<%= partial "partials/header" %>
<div class="contest-header"></div>
<div id="contest-wrap">
	<%= partial "partials/grand-prize" %>
	<%= partial "partials/contest" %>
	<%= partial "partials/gate" %>
</div>